# Ignored Directories
.devcontainer
.vscode
dist
node_modules
server
tmp

# Ignored Files
Dockerfile*
.dockerignore

docker-compose*
.git
.gitignore
README.md
LICENSE
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*